.container{
    background-color: brown;
    width: 300px;
}
/* a 600 px di larghezza il colore cambia*/
@media screen and (min-width:600px) {
    .container{
        background-color: blue;
    }
    #paragrafo{
        color: blueviolet;
    }
}
/*a 1000px di larghezza il colore il font cambiano*/
@media screen and (min-width:1000px) {
    .container{
        background-color: aquamarine;
    }
    #paragrafo{
        font-size: 2em;
    }
}
/*quando lo schermo viene portato in orizzontale*/
@media (orientation:landscape){
    .container{
        background-color: yellow;
    }
    #paragrafo{
        font-size: 1.5em;
    }
}
/*quando si manda in stampa la pagina*/
@media print{
    .container{
        width: 50%;
    }
}

#immagini{
    width: 50%;
    height: 100px;
}
/*immagine responsive si continua ad allargare e restringere*/
#img1{
        width:100%;
        height: auto;
    }
/*immagine semi-responsive oltre un cero punto non si allarga più*/
#img2{
    max-width: 100%;
    height: auto;
}
/*tab responsive, la parte che fuoriesce può essere visualizzata
con una scroll bar*/
#table{
    overflow-x: auto;
}
/*da 500px in su il testo del paragrafo viene diviso su due colonne*/
@media screen and (min-width:500px) {
#paragrafo{
    column-count: 2;
    column-width: 10px;
    column-fill: balance;
    column-gap: 2px;
    }
}
/* CSS BASE APPLICATO SEMPRE OVE NON SUBENTRINO MEDIA QUERIES */
.container {
    background-color: blueviolet;
    width: 300px;
  }
  
  .divmain {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }
  
  .form {
      margin: 0 auto;
  }
  
  .form input {
      padding: 5px 5px;
  }
  
  .form button {
      padding: 5px 25px;
  }
  
  
  /* MEDIA QUERY MOBILE DA 320PX IN POI*/
  @media screen and (min-width: 320px) {
      .container {
          background-color: blue;
          width: 100%;
          margin-top: 10px;
          margin-bottom: 20px;
      }
  
      .divmain {
          flex-direction: row;
      }
  
      #parag {
          color: red;
          font-size: 24px;
      }
  }
  
  /* MEDIA QUERY MEDIUM VIEWPORT DA 800PX IN POI*/
  @media screen and (min-width: 800px) {
      .container {
          background-color: green;
          width: 300px;
      }
  
      #parag {
          color: blue;
          font-size: 18px;
      }
  }
  
  /* MEDIA QUERY PRINT */
  @media print and (min-width: 1200px) {
      .container {
          width: 100%;
      }
  }
  
  
  
  /* MEDIA QUERIES AVANZATE (HOVER-POINTER E UTILIZZO AND/OR/NOT) */
  
  /* HOVER (Accetta none e hover) */
  
  @media screen and (hover: hover) {
        /* RILEVA DISPOSITIVI CON PUNTATORE */
      .form input:focus {
          background-color: antiquewhite;
          color: black;
      }
      
      .form button:hover {
          background-color: bisque;
          font-weight: 800;
      }
    }
  
    @media screen and (hover: none) {
      /* RILEVA DISPOSITIVI SENZA PUNTATORE ES: SMARTPHONE */
      .form {
        /* regole css */
      }
  }
    
    
    /* POINTER  (Accetta none/coarse/fine) */
    
    @media screen and (pointer:coarse) {
      /* RILEVA DISPOSITIVI CON PUNTATORE TIPO SMARTTV/GAMING CONSOLE */
    }
     
    @media screen and (pointer:none) {
      /* RILEVA DISPOSITIVI SENZA PUNTATORE */
      body {
          background-color: aqua;
        }
    }
    
     @media screen and (pointer:fine) {
         /* RILEVA PUNTATORI DI PRECISIONE TIPO MOUSE E PEN DRIVE TABLET */
        body {
          background-color: rgb(0, 255, 34);
        }
    }  
    
     
    /* COMBINAZIONI PIU USATE TRA HOVER E POINTER */
    /* ------------------------------------- */
    /* NONE - COARSE => Smartphone && Touchscreen */
    /* NONE - FINE  => Stylus based screen */
    /* HOVER - COARSE => SmartTV & Console */
    /* HOVER - FINE => Desktop & LapTop & Touchpad */
    
    
    /* MEDIA QUERY OR */
    @media screen and (max-width: 320px), (orientation: landscape) {
      .container {
        background-color: bisque;
      }
    }
    
    
    /* MEDIA QUERY NOT */
    
    @media not (max-width: 320px) {
      .container {
        background-color: white;
      }
    }
  
  
  
    /* PUNTI INTERRUZIONE MEDIA QUERY STANDARD
  
      For Mobile Devices – 320px — 480px
      iPads and Tablets – 481px — 768px
      Laptops and small screen – 769px — 1024px
      Large screens and Desktops – 1025px — 1200px
      TV and Extra Large Screens – 1201px and more 
      
      */