ody{
    margin: 0;
}

header{
    font-size: 1.2rem;
    list-style: 1.65;
    height: 90vh;
}

#logo{
    background-color: black;
    width: 100vw;
    height: 25vh;
}

#logo img{
    margin-top: 0%;
    margin-left: 0%;
}

#headertext{
    font-family:'Montserrat', sans-serif;
    background-image:url(/settimana1/progrttosettimanale/root/asset/img/banner.jpg);
    background-position: center;
    background-size: contain;
    text-align: center;
    height: 100%;
    line-height: 1.5;
}

#headertext h1{
    color: #25a2c3;
    margin-top: 0;
}

#headertext p{
    margin-left: 5%;
    margin-right: 5%;
    color: rgb(5, 5, 5);
    font-size: x-large;
}

#headertext button{
    background-color:  #f04c2f;
    color:white;
    border-radius: 5%;
    border-color:  #f04c2f;
    margin-bottom: 5%;
    width: 30%;
    height: 8%;
    font-size: medium;
}

#headertext a{
    text-decoration: none;
}

main, aside{
    font-size: 1.2rem;
    color: #393d41;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
}

main{
    background-color: white;
    text-align: center;
}

#whiteblock h3{
    color: rgb(94, 150, 182);
}

#whiteblock img{
    border-radius: 50%;
}

#orangeblock{
    background-color: #e22d0e;
}

#orangeblock{
    color: white;
}

aside{
    text-align: center;
    margin: 4%;
}


aside img{
    width: 100%;
}

aside h4{
    color: rgb(94, 150, 182);
    margin-top: 1%;
}

.aside{
    border: 2px solid #dee1e3;
}

footer{
    font-family:'Montserrat', sans-serif;
    background-color: #25a2c3;
    text-align: center;
    height: 45vh;
}


footer a{
    color: #c8e7f0;
}

footer p{
    color: #c8e7f0;
}

footer b{
    font-size: xx-large;
    color: white;
}

footer ul{
    padding-left: 0;
}

#hr{
    margin-left: 30%;
    margin-right: 30%;
}




